

<wj-flex-grid [itemsSource]="data"   [childItemsPath]="'childs'" class="flex-table" id="host_element" >
    <wj-flex-grid-column [header]="'Sequence'" allow-dragging="false" [binding]="'Sequence'" id="host_element" [isRequired]="true" ></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Number'" [binding]="'Number'"   [isRequired]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Name'" [binding]="'Name'"   [isRequired]="false"></wj-flex-grid-column>
    
    <wj-flex-grid-column [header]="'Revision'" [binding]="'Revision'" isDisabled="false"   [isRequired]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Quantity'" #flex [binding]="'Quantity'"   [isRequired]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'UOM'" [binding]="'UOM'"   [isRequired]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Procument Type'" [binding]="'Procument Type'"      [isRequired]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Enforce Integer Requirement'" [binding]="'Enforce Integer Requirement'"    [isRequired]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Include in Cost Rollup'" [binding]="'TOTAL COST'"    [isRequired]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Start Date'" [binding]="'Start Date'"    [isRequired]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'End Date'" [binding]="'End Date'"    [isRequired]="false"></wj-flex-grid-column>
</wj-flex-grid>
<div class="btn-group" style="align:right; padding-left:30px;">
        <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
            <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        <button type="button" class="btn btn-default" disabled style="width:100px">
          
        </button>
        <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
</div>
    