/* You can add global styles to this file, and also import other style files */
@import "wijmo/styles/wijmo.scss";

.App-panel {
    margin: 0 48pt;
    text-align: center;
}
.App-panel .wj-control {
    display: inline-block;
    background :lightblue;
    text-align: left;

    width: 100%;
    height: 300px;
    vertical-align: top;
    
 }

.flex-table {
  
    height:320px;
    overflow:scroll;
}

.flex-table .wj-cell {
    background-color: white !important;
    height:40px;
    color:black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    text-align: left;
}

.flex-table  .wj-header.wj-cell {
    background-color: white !important;
    color: black !important;
    font-weight: bold;
    height:40px;
    text-align:center;
    border-top: solid 1px black;
    text-align: center;
}


.wj-state-selected, .wj-state-multi-selected {
    border-width: 0.1;
   
    font-size: .95em !important; 
    color:black;
    }
    